body {
  margin: 0px;
  background-color: #b1b1bf;
  overflow-x: hidden;
}

.main {
  margin-bottom: 188vh;
  height: 100vh;
  position: relative;
}

.main img {
  object-fit: contain;
}

.sliderContainer {
  position: absolute;
  top: 70vh;
}

.slider {
  position: relative;
  white-space: nowrap;
  display: flex;
}

.slider p {
  margin: 0px;
  color: #fff;
  font-size: min(11vw, 170px);
  font-weight: 600;
  font-family: 'Aventa', Helvetica;
}

.slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
}